.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/puppeteer-core/**
!node_modules/katex/**
!node_modules/marked/**
!node_modules/highlight.js/**
.DS_Store
*.log
